<style>
    .menuitem {
        display: flex;
        flex-direction: row;
        width: 225px;
        font-size: 12px;
        align-items: center;
        justify-items: center;
        justify-content: center;
        background: white;
        border: 1px dashed #569BC6;
        padding: 5px;
        margin: 5px;
        width: 210px;
        border-radius: 4px;
        cursor: pointer;
    }

    .divider {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .dish {
        margin: 5px;
    }

    .cost {
        margin: 5px;
        font-style: italic;
        color: #888;
    }

    .order {
        order: none;
        outline: none;
        width: 24%;
        height: 24px;
        margin: 10px;
    }
</style>

<section class="menuitem">
    <div class="divider">
        <label id="dish" class="dish"></label>
        <label id="cost" class="cost"></label>
    </div>
    <button id="order" class="order">order</button>
</section>